
QPushButton {
    border: 0px solid;
    background-color: transparent;
}

QLabel {
    color: white;
    font: 14px 'Roboto';
}

QLineEdit {
    color: white;
    font: 14px 'Roboto';
    background-color: qlineargradient(x1:0 y1:0, x2:1 y2:0, stop:1 rgba(44, 95, 255, 1), stop:0 rgba(196, 148, 234, 1));
    border: 0px solid;
    border-radius: 14px;
    padding: 10px 16px;
}

DashboardApp {
    border-radius: 14px;
    background-color: qlineargradient(x1:1 y1:0, x2:0 y2:0, stop:1 rgba(73, 83, 118, 1), stop:0 rgba(59, 68, 102, 0.98));
}

DashboardApp2 {
    border-radius: 14px;
    background-color: qlineargradient(x1:1 y1:0, x2:0 y2:0, stop:1 rgba(73, 83, 118, 1), stop:0 rgba(59, 68, 102, 0.98));
}

DashboardMachine {
    border-radius: 14px;
    background-color: qlineargradient(x1:1 y1:0, x2:0 y2:0, stop:1 rgba(73, 83, 118, 1), stop:0 rgba(59, 68, 102, 0.98));
}
